{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block css %}
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet"/>


    {% endblock css %}
</head>
<body>

{% block header %}
    <header class="container">
        <div class="row">
        <div class="col-lg-2">
            Teqniksoft
        </div>

        <div class="col-lg-10">

        </div>
        </div>
    </header>

{% endblock header %}


{% block main %}

{% endblock main %}

{% block footer %}
{% endblock footer %}

{% block js %}
<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>

{% endblock js %}

{% block scripts %}
{% endblock scripts %}

</body>
</html>